.bannerPricipalPortifa{
    margin-bottom: 100px;
    .container{
        >a{
            display: table;
            margin: 0 auto;
            margin-bottom: 100px;
        }
        .img{
            height: 500px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}