.depoimentoPortifa{
    padding-bottom: 100px;
    .extracontainer{
        background: $white1;
        padding-bottom: 100px;
        margin-bottom: 100px;
        .container{
            &:before{
                content: '';
                width: 4px;
                margin-bottom: 50px;
                height: 500px;
                background: $color1;
                display: block;
            }
            h3{
                font-family: $font1;
                font-size: $font-size2;
            }
            p{
                font-family: $font2;
                font-size: $font-size2;
                margin-bottom: 25px;
            }
            span{
                font-family: $font2;
                font-size: $font-size1;
                margin-bottom: 100px;
                text-align: right;
                width: 100%;
                display: block;
            }
            h2{
                font-family: $font1;
                font-size: $font-size3;
                margin-bottom: 100px;
            }
            ul{
                display: flex;
                align-items: center;
                justify-content: space-around;
                li{
                    margin-right: 50px;
                    margin-left: 50px;
                    height: 50px;
                    width: 50px;
                    *{
                        fill: $color2;
                        transition: 0.1s ease;
                    }
                    
                }
            }
        }
    }
    .button1{
        margin: 0 auto;
        display: table;
        font-size: $font-size1;
        color: $white2;
    }
}