.solucaoPortifa{
    .container{
        h2{
            font-family: $font1;
            font-size: $font-size2;
            color: $white2;
            display: flex;
            align-items: center;
            &:before{
                content: '';
                width: 200px;
                height: 4px;
                margin-right: 50px;
                display: inline-block;
                background: $color1;
                transition: 0.5s ease;
            }
        }
        p{
            font-family: $font2;
            font-size: $font-size1;
            margin-bottom: 100px;
            color: $white2;
        }
        .imgGrande{
            height: 550px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .imgPequena{
            margin-bottom: 100px;
            .img{
                height: 250px;
                &:first-child{
                    margin-bottom: 50px;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}