.tituloFrase1{
    
    .container{
        padding-top: 100px;
        padding-bottom: 100px;
        h2{
            font-family: $font1;
            font-size: $font-size2;
            color: $white1;
        }
        p{
            font-family: $font2;
            font-size: $font-size2;
            color: $white1;
            line-height: 1.8;
        }
    }
    

}