.footer1{
    .extracontainer{
        padding-top: 100px;
        padding-bottom: 100px;
        background: $white1;
        .socialMedia{
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 75px;
            li{
                cursor: pointer;
                *{
                    fill: $color2;
                    transition: 0.5s ease;
                }
                &:hover{
                    *{
                        fill: $color1;
                    }
                }
            }
        }
        p{
            font-family: $font2;
            font-size: $font-size2;
            display: table;
            margin: 0 auto;
            color: $color2;
            transition: 0.1s ease;
            cursor: pointer;
            &:hover{
                color: $color1;
            }
        }
    }
}