.button1{
    z-index: 2;
    font-size: 16px;
    color: $white1;
    font-family: 'Hind', sans-serif;
    position: relative;
    padding: 25px 50px;
    transition: 0.5s ease;
    cursor: pointer;
    background: none;
    border: none;
    &:hover{
        color: $white1;
        &:after{
            height: 100%;
            top:0;
            z-index: -1;
            
        }
    }

    &:after{
        transition: 0.5s ease;
        width: calc(100%);
        height: 2px;
        content: '';
        background: $color1;
        display: block;
        position: absolute;
        top: 66px;
        left: 0;
    }
}
.button2{
    z-index: 2;
    font-size: 16px;
    color: $white1;
    font-family: 'Hind', sans-serif;
    position: relative;
    padding: 20px 30px;
    transition: 0.5s ease;
    cursor: pointer;
    background: none;
    border: none;
    &:hover{
        color: $color1;
        &:after{
            height: 100%;
            top:0;
            z-index: -1;
            
        }
    }

    &:after{
        transition: 0.5s ease;
        width: calc(100%);
        height: 2px;
        content: '';
        background: $color1;
        display: block;
        position: absolute;
        top: 64px;
        left: 0;
    }
}